<h1>
  <% case @new_statement_type %>
  <% when :truth %>
    tell me something <em>interesting</em> and <strong>true</strong> about yourself
  <% when :lie %>
    now tell me a <em>lie</em>
  <% when :either %>
    now tell me either <strong>the truth</strong> or <em>a lie</em>
  <% end %>
</h1>

<%= form_for(new_statement_form_record) do |f| %>
  <% if @statement.errors.any? %>
    <div class="form-errors">
      <ul>
        <% @statement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field(:text, :placeholder => @statement.truth? ? "i once gave CPR to a state senator" : "i owe over $500 at a casino in the caribbean") %>
  </div>

  <% if @new_statement_type == :either %>
    <ul>
      <li>
        <%= f.radio_button(:truth, 'true') %>
        <%= f.label(:truth, 'true story', :value => 'true') %>
      </li>
      <li>
        <%= f.radio_button(:truth, 'false') %>
        <%= f.label(:truth, 'lie', :value => 'false') %>
      </li>
    </ul>
  <% else %>
    <%= f.hidden_field(:truth) %>
  <% end %>

  <%= f.submit %>
<% end %>

<% if @unfinished_user.present? %>
  <h2>so far:</h2>

  <ul class="statements">
    <% @unfinished_user.statements.each do |statement| %>
      <li>
        <em>(<%= statement.truth? ? 'truth' : "lie" %>)</em>
        <%= statement.text %>
      </li>
    <% end %>
  </ul>
<% end %>
